In [1]:
f=open('C:/Users/Dell/Desktop/neha/new.txt','r')
data=f.read()
print(data)
f.close()

1	Meena	78	89	98
2	Neha	87	89	87
3	Poonam	89	78	90
4	Manisha	89	78	90

In [2]:
print(repr(data))

'1\tMeena\t78\t89\t98\n2\tNeha\t87\t89\t87\n3\tPoonam\t89\t78\t90\n4\tManisha\t89\t78\t90\n\t'

In [14]:
data=data.split('\n')
print(data)

['1\tMeena\t78\t89\t98', '2\tNeha\t87\t89\t87', '3\tPoonam\t89\t78\t90', '4\tManisha\t89\t78\t90', '\t']

In [19]:
d=[]
for line in data:
    line=line.split('\t')
    d.append(line[-1])
print(d)

['98', '87', '90', '90', '']

In [21]:
d=d[:4]
print(d)

['98', '87', '90', '90']

In [22]:
d1=[]
for var in d:
    d1.append(int(var))
print(d1)

[98, 87, 90, 90]

In [23]:
sum(d1)

365

In [25]:
f=open('C:/Users/Dell/Desktop/neha/new.txt','a')
data='\n5\tram\t96\t87\t98'
f.write(data)
f.close()

In [28]:
with open('C:/Users/Dell/Desktop/neha/new.txt') as f:
    for line in f:
        sep=line.split('\t')
        print(sep,sep='\t\t')

['1', 'Meena', '78', '89', '98\n']
['2', 'Neha', '87', '89', '87\n']
['3', 'Poonam', '89', '78', '90\n']
['4', 'Manisha', '89', '78', '90\n']
['5', 'ram', '96', '87', '98\n']

In [30]:
f=open('C:/Users/Dell/Desktop/neha/new.txt')

In [32]:
f.name

'C:/Users/Dell/Desktop/neha/new.txt'

In [33]:
f.seekable()

True

In [34]:
f.writable()

False

In [35]:
f.readable()

True

In [38]:
f.mode

'r'

In [39]:
f.encoding

'cp1252'

In [40]:
one_line=f.readline()

In [41]:
print(one_line)

1	Meena	78	89	98

In [42]:
data=f.readline()
print(data)

2	Neha	87	89	87

In [51]:
f.seek(0)

0

In [52]:
for var in range(5):
    print(f.readline())

1	Meena	78	89	98

2	Neha	87	89	87

3	Poonam	89	78	90

4	Manisha	89	78	90

5	ram	96	87	98